<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jzohndev.no_bullshit_weightlifting_new">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="c0_all.MenuPager"
            android:theme="@style/AppThemeNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="workout.WorkoutBuilder"
            android:theme="@style/BuilderTheme" />

        <activity
            android:name="exercise.ExerciseList"
            android:label="Exercise List"
            android:theme="@style/AppTheme" />

        <activity
            android:name="routine.RoutineBuilder"
            android:label="Routine Builder"
            android:theme="@style/AppTheme" />

        <activity
            android:name="workout.WorkoutList"
            android:label="Workout List"
            android:theme="@style/AppTheme" />

        <activity
            android:name="c1_begin.BeginExerciseSelected"
            android:theme="@style/AppTheme" />

        <activity
            android:name="c2_manage.WorkoutDetail"
            android:theme="@style/AppTheme.NoBar" />

        <activity
            android:name="c4_progression.HistorySelected"
            android:theme="@style/AppTheme.NoBar" />

    </application>

</manifest>